div.language {
    padding: 10px;
    /* animation: divimg 0.6s ease-in-out;
     */
     z-index: 0;
  animation: fadeScroll 0.6s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}
div.language img{
    width: 80px;
   transition: 0.6s;
   cursor: pointer;
   border: 1px solid #0277bd;
   padding: 5px;
   border-radius: 10px;
}
div.language img:hover{
    scale: 1.1;
    
}
.skils{
  font-weight: bolder;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 5px;
  margin-top: -3px;
}
/*animation*/
@keyframes fadeScroll{
  from{
    scale: 0.6;
  }
  to{
    scale: 1;
  }
}